<section class="icon icon-search" id="search-container">
  <hr class="divider short" />
  <form id="search-form">
    <input type="text", name="search", placeholder="rails, ruby, javascript,..." id="search-field" />
  </form>
</section>
